{% extends "base.html" %}
{% block content %}
<div class="container mx-auto">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Welcome to our Social Network</h2>
                    <p class="card-text">You will enjoy it here</p> <br>
                    <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
                    <a href="{% url 'account_login' %}" class="btn btn-secondary">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}