{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Profile</h2>
    <div class="row">
        <div class="col-md-4">
            <!-- Profile Picture -->
            <img src="{% static 'images/default.jpg' %}" alt="Profile Picture" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8">
            <!-- Profile Details -->
            <h4>{{ user.username }}</h4>
            {% if profile.status %}
            <p>Status: {{ profile.status }}</p>
            {% endif %}
            <!-- Add more profile details here -->
        </div>
    </div>
</div>
{% endblock %}